<meta charset="utf-8"/>
<meta name="renderer" content="webkit"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<!--导入zui的css样式-->
<link rel="stylesheet" th:href="@{/zui/css/zui.css}"/>
<link rel="stylesheet" th:href="@{/zui/tabs/zui.tabs.css}"/>
<link rel="stylesheet" th:href="@{/zui/bootbox/bootbox.css}"/>
<link rel="shortcut icon" type="image/x-icon" href="/image/favicon.jpg" />
<!--导入zui的js-->
<script th:src="@{/zui/jquery/jquery.js}"></script>
<script th:src="@{/zui/js/zui.js}"></script>
<script th:src="@{/zui/datagrid/zui.datagrid.js}"></script>
<script th:src="@{/zui/tabs/zui.tabs.js}"></script>
<script th:src="@{/zui/bootbox/bootbox.js}"></script>

<!--自定义CSS样式-->
<link rel="stylesheet" th:href="@{/css/public.css}"/>
<!--自定义JS样式-->
<script th:src="@{/js/public.js}"></script>