<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <meta charset="utf-8" />
    <body th:fragment="sidebar">
        <nav class="menu boss-menu" data-ride="menu">
            <ul id="treeMenu" class="tree tree-menu" data-ride="tree" style="border-radius: 0;">
                <li style="font-weight: bold">
                    <img src="/image/icon.png" class="round_icon" style="display:inline-block;margin-left: 10px;margin-top: 3px">
                    <span style='margin-left: 5px;width:100px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;'>明天你好</span><br/>
                    <a>河北工程校园论坛欢迎您!</a>
                </li>
                <li>
                    <a href="/index">返回首页</a>
                </li>
                <li>
                    <a href="#">校园论坛</a>
                    <ul>
                        <li><a href="/user/register">校花校草排行榜</a></li>
                        <li><a href="/student/risk">程序员技术指南</a></li>
                        <li><a href="/student/risk">程序员成长指南</a></li>
                        <li><a href="/student/risk">程序员脱单指南</a></li>
                        <li><a href="/student/risk">程序员康复指南</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">校园市场</a>
                    <ul>
                        <li><a href="/student/risk">闲置数码</a></li>
                        <li><a href="/student/risk">闲置图书</a></li>
                        <li><a href="/student/risk">闲置服饰</a></li>
                        <li><a href="/student/risk">闲置生活用品</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">个人中心</a>
                    <ul>
                        <li><a href="/student/risk">查看个人信息</a></li>
                        <li><a href="/student/risk">修改个人信息</a></li>
                        <li><a href="/student/risk">查看发布帖子</a></li>
                        <li><a href="/student/risk">查看发布商品</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/post/message">发布帖子</a>
                </li>
                <li>
                    <a href="#">发布商品</a>
                </li>
                <li>
                    <a href="#">论坛协议</a>
                </li>
            </ul>
        </nav>
    </body>
</html>