#goodsDetail{
    height: 550px;
    width: 1100px;
}
#goodsDetail #goodsDetail-left{
    float: left;
    height: 450px;
    width: 450px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#goodsDetail #goodsDetail-right{
    float: right;
    width: 620px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#goodsDetail-left img{
    width: 400px;
    height: 400px;
}
#button {
    color: white;
    font-size: 150%;
    opacity: 1;
    width: 200px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 150px;
    background-color: rgb(252,64,0);
    border-radius: 4px;
}

#button:hover {
    background-color: rgb(255, 39, 117);
    transition: 0.3s linear;
}
#goodsDetail a{
    text-decoration: none;
}
#goodsDetail a:hover{
    color: red;
}
strong{
    font-size: 15px;
}
.nav-text{
    font-size: 14px;
    color: darkorange;
}
.text{
    color: rgb(107, 100, 100);
    font-size: 13px;
}
.detail{
    color: rgb(107, 100, 100);
    font-size: 15px;
}
.detail-span-gap{
    margin-left: 20px;
}
.center-in-center{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}