<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台主页</title>
    <link rel="stylesheet" type="text/css" href="/css/bg/home.css" />
</head>
<body>
<div class="mainindex">
    <div class="welinfo">
        <span><img src="/image/bg/sun.png" alt="太阳" /></span> <b>Admin 您好，欢迎使用河北工程大学校园论坛后台管理系统</b>
        <a href="#">帐号设置</a>
    </div>
    <div class="xline"></div>
    <div class="box"></div>
    <div class="welinfo">
        <span><img src="/image/bg/bulb.png" alt="阳光" /></span> <b>校园论坛系统使用指南</b>
    </div>
    <ul class="infolist">
        <li><span>您可以快速进行用户管理操作</span><a class="ibtn" href="/user/bg/getAllUser/1">添加或管理用户</a></li>
        <li><span>您可以进行帖子发布等操作</span><a class="ibtn" href="/post/bg/getAllPosts/1">发布或管理帖子</a></li>
        <li><span>您可以快速添加商品</span><a class="ibtn" href="/goods/bg/getAllGoods/1">添加或管理商品</a></li>
    </ul>
    <div class="xline"></div>
    <div class="info">
        <b>查看网站使用指南，如果您不太了解，您可以联系阿梦QQ：1578407430来了解等相关操作信息</b> (版权所有：河北工程大学校园论坛)
    </div>
</div>
</body>
</html>