<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>论坛协议</title>
    <link rel="stylesheet" type="text/css" href="/css/protocol/protocol.css" />
</head>
<body>
<div id="protocol">
    <div id="main" style="margin-left: 30px;">
        <p style="text-align: center;font-size: 17px;color: red;margin-top: -20px">论坛协议</p>
        <span style="color: #717171">隐私权保护声明系本网站保护用户个人隐私的承诺。鉴于网络的特性，
            本网站将无可避免地与您产生直接或间接的互动关系，
            故特此说明本网站对用户个人信息所采取的收集、使用和保护政策，请您务必仔细阅读：
        </span><br/><br/>
        <span>1.使用者非个人化信息</span>
        <p>
            我们将通过您的IP地址来收集非个人化的信息，例如您的浏览器性质、操作系统种类、
            给您提供接入服务的ISP的域名等，以优化在您计算机屏幕上显示的页面。通过收集上述信息，
            我们亦进行客流量统计，从而改进网站的管理和服务。
        </p>
        <span>2.个人资料</span>
        <p>
            当您在进行用户注册登记、网上购物、参加网上拍卖或公共论坛等活动时，在您的同意及确认下，
            本网站将通过注册表格、订单等形式要求您提供一些个人资料。这些个人资料包括：
            姓名、性别、年龄、电话、通信地址、住址、电子邮件地址、等情况。<br/>
        </p>
        <span>3.信息安全</span>
        <p>
            本网站将对您所提供的资料进行严格的管理及保护，本网站将使用相应的技术，防止您的个人资料丢失、被盗用或遭窜改。
            本网站得在必要时委托专业技术人员代为对该类资料进行电脑处理，以符合专业分工时代的需求。如本网站将电脑处理之通知送达予您，
            而您未在通知规定的时间内主动明示反对，本网站将推定您已同意。惟在其后您仍然有权如下述第4.1.4条之规定，请求停止电脑处理。
        </p>
        <span>4.未成年人隐私权的保护</span>
        <p>
            本网站将建立和维持一合理的程序，以保护未成年人个人资料的保密性及安全性。本网站郑重声明：
            任何16岁以下的未成年人参加网上活动应事先得到家长或其法定监护人（以下统称为"监护人"）的可经查证的同意。

            监护人应承担保护未成年人在网络环境下的隐私权的首要责任。
            本网站收集未成年人的个人资料，仅为回覆未成人特定要求的目的，一俟回复完毕即从记录中删除，而不会保留这些资料做进一步的利用。

            未经监护人之同意，本网站将不会使用未成年人之个人资料，亦不会向任何第三方披露或传送可识别该未成人的个人资料。
            本网站如收集监护人或未成年人的姓名或其它网络通讯资料之目的仅是为获得监护人同意，
            则在经过一段合理时间仍未获得同意时，将主动从记录中删除此类资料。
        </p>
        <span>5.免责</span>
        <p>
            除上述第4条规定属免责外，下列情况时本网站亦毋需承担任何责任：
            由于您将用户密码告知他人或与他人共享注册帐户，由此导致的任何个人资料泄露。
            任何由于计算机问题、黑客政击、计算机病毒侵入或发作、 因政府管制而造成的暂时性关闭等
            影响网络正常经营之不可抗力而造成的个人资料泄露、 丢失、被盗用或被窜改等。
            由于与本网站链接的其它网站所造成之个人资料泄露及由此而导致的任何法律争议和后果。
        </p>
    </div>
</div>
</body>
</html>